{% extends 'base.html.twig' %}

{% block content %}  
 <div class="content">
        <div class="header">Stage BTS</div>
        <div class="subheader">Bienvenue sur la page de gestion des stages </div>
        <div class="line"></di>
    </div>
{% endblock %}